---
BasedOnStyle: Google
BreakBeforeBraces: Allman
ColumnLimit: '120'
Language: Cpp
NamespaceIndentation: All
IndentAccessModifiers: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty

...
